{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title id = "head1">Блог тестовый</title>
        <div class = "head_blog">
        {% if user.is_authenticated %}
                 <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% endif %}
            <h1><a href="/">блог тестовый</a></h1>
        </div>rl 'post_new'
    </head>
    
    <body>
       {% block content %}
       {% endblock %} 
           <br>
            <br>
            <br>
            </h4> сайт создан мною в тестовых целях    2022г</h4>
            <h5><a href="">call 2 344 454 234233</a></h5>
        </div>
    </body>
</html>
