{% extends 'blog/base.html' %}

{% block content%}
        <div class = "post">
                {% if post.published_date %}
                        <div class = "date">
                                {{ post.published_date }}
                        </div>
                {% endif %}
                {% if user.is_authenticated %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                        <span class="glyphicon glyphicon-pencil">
                        </span>
                </a>
                {% endif %}
                <h1>{{ post.title }}</h1>
                <p>{{ post.text|linebreaksbr}}</p>
        </div>
        <div class = "comments">
            <a class="btn btn-default" href="{% url 'comment_post_create' pk=post.pk %}">
                <span class="glyphicon glyphicon-edit">
                </span>
            </a>
        </div>
            <h>Комментарии</h><br>
             <br>
            {% for  com in comments%}
           <h> {{ com.author }} | {{ com.published_date }} | {{ com.text }}<h><br>
            {% endfor%}
        </div>

{% endblock %}
comments